/* Marquee.css */

/* Container to ensure proper alignment */
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    color: white; /* Text color */
    font-size: 1.5rem;
    margin: 20px auto; /* Center the marquee with margin */
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
  }
  
  /* Scrolling content */
  .marquee {

    display: inline-block;
    animation: scroll-left 26s linear infinite; /* Adjusted for smooth scrolling */
  }
  .marquee2 {
    display: inline-block;
    animation: scroll-right 26s linear infinite; /* Adjusted for smooth scrolling */
  }
  
  /* Scroll animation */
  @keyframes scroll-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes scroll-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
  