/* .section-two {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: black;
    color: white;
  }
  
  .section-two .content {
    flex: 1;
    text-align: left;
  }
  
  .section-two h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .section-two p {
    font-size: 1.2rem;
  }
  
  .section-two .image {
    flex: 1;
    text-align: center;
  }
  
  .section-two .image img {
    max-width: 100%;
    border-radius: 10px;
  }
   */

   .section-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 80px 0;
  }
  .special{
    background: linear-gradient(to right, #e77811, #f0f03b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section-two .content {
    flex: 1;
    color: #fff;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .section-two-heading {
    font-size: 6rem;
    font-weight: bold;
    /* margin-bottom: 20px; */
    margin-bottom: 0;
   
  }
  
  .section-two-heading2{
      font-size: 3rem;
  }
  .section-two-description {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  
  .section-two .image {
    flex: 1;
  }
  
  .section-two-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }